@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
}

:root{
    --bg-color:rgb(230, 230, 230);
    --secondary-bg-color:rgb(245, 245, 245);
    --text-color:rgb(70,70,70);
    --main-color:rgb(196, 79, 75);
}

html{
    font-size: 65%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text-color);
    cursor: pointer;
    transition: .7s ease-in-out;
}
.logo:hover{
    color: var(--main-color);
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    text-decoration: underline;
}

#menu-icon{
    font-size: 3.8rem;
    color: var(--text-color);
    display: none;
}


.home{
    display: flex;
    justify-self: center;
    align-items: center;
}

.home-img img{
    width: 30vw;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-last-child(2){
    margin-bottom: 3rem;
}
.home-content h2{
    font-size: 5.0rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p{
    font-size: 1.6rem;
}

span{
    color: var(--main-color);
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    font-weight: 600;
    transition: .5s ease;
}
.social-media a:hover{
    background-color: var(--main-color);
    color: var(--secondary-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.6rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--secondary-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* About Section */

.about{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 2rem;
    background: var(--secondary-bg-color);
}

.about-img img {
    width: 30vw;
    border-radius: 50%; /* Makes the image round */
    border: .3rem solid var(--main-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}


.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* Services container */
.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background-color: var(--secondary-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}
.services-container .services-box:hover{
    border:0.2rem solid var(--main-color);
    transform: scale(1.05);
}

.services-box h3{
    font-size: 2.4rem;
}

.services-box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}


/* Portfolio Section */
.portfolio-section {
    background-color: var(--bg-color);
}

.portfolio-section h2 {
    font-size: 4.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.portfolio-section .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
}

.portfolio-container .portfolio-box {
    flex: 1 1 30rem;
    background-color: var(--secondary-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.portfolio-container .portfolio-box:hover {
    transform: scale(1.05);
    border: .2rem solid var(--main-color);
}

.portfolio-box img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
}

.portfolio-box h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.portfolio-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    flex-grow: 1;
}
.portfolio-box .btn {
    margin-top: auto; /* Ensures the button stays at the bottom */
}

@media (max-width: 768px) {
    .portfolio-container,.home,.about {
        flex-direction: column;
    }
}
/* Add a simple style for the rotating text */
 .changing-text {
            display: inline-block;
            color: var(--main-color);
            font-weight: bold;
        }

        @keyframes fadeInOut {
            0%, 100% { opacity: 0; }
            25%, 75% { opacity: 1; }
        }

/* Contact Section */
.contact {
    padding: 10rem 9% 2rem;
    background-color: var(--secondary-bg-color);
}

.contact .heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    max-width: 45rem;
}

.contact-info h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.contact-info ul {
    list-style: none;
    margin-bottom: 2rem;
}

.contact-info ul li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--main-color);
}

.contact-form {
    flex: 1;
    max-width: 45rem;
}

.contact-form h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: .1rem solid var(--bg-color);
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.contact-form textarea {
    resize: none;
    height: 12rem;
}


.contact-form button {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    color: var(--secondary-bg-color);
    background-color: var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.contact-form button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
}

/* Footer Section */
.footer {
    background-color: var(--main-color);
    padding: 4rem 9%;
    color: var(--secondary-bg-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-container h3{
    font-size: 2rem;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 1.6rem;
}

.footer-links ul li a {
    font-size: 1.6rem;
    color: var(--secondary-bg-color);
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: var(--bg-color);
}

footer .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border: .2rem solid var(--secondary-bg-color);
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--secondary-bg-color);
    margin-right: 1rem;
    transition: 0.3s ease;
}

.social-media a:hover {
    background-color: var(--secondary-bg-color);
    color: var(--main-color);
}

.footer-bottom {
    text-align: center;
    padding: 1.5rem 0;
    background-color: darken(var(--main-color), 10%);
}

.footer-bottom p {
    font-size: 1.4rem;
    color: var(--secondary-bg-color);
}





/* About Page Styling */

.links{
    color: var(--main-color);
}


/* General Services Section Styling */
#services {
    background-color: var(--bg-color);
    margin-top: 2rem;
}

#services .heading span {
    color: var(--main-color);
}

/* Service Card Styling */
.service-card {
    background: var(--secondary-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem auto;
    margin-top: 2rem;
    text-align: center;
    width: 75%; /* Width of each card */
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.service-icon {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.service-card h3 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.service-card p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: left;
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-card ul li {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: left;
    
}

.service-card ul li strong {
    color: var(--main-color);
}

/* Responsive styles */
@media (max-width: 768px) {
    section {
        min-height: auto;
        padding: 5rem;
    }

    /* Hide the navbar links and display the menu icon on small screens */
    .navbar {
        display: none; /* Hidden on small screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--bg-color);
        width: 100%;
        padding: 2rem;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    /* Show the menu icon */
    #menu-icon {
        display: block; /* Menu icon visible on small screens */
        cursor: pointer;
    }

    /* Adjust logo font size for smaller screens */
    .logo {
        font-size: 2rem;
    }

    /* When the navbar is active (visible), display it as a block */
    .navbar.active {
        display: flex; /* Show navbar when active */
    }

    /* Ensure the home section displays content as a block */
    .home {
        margin-top: 4rem;
        display: block;
        text-align: center;
        padding: 3rem; /* Adjust padding for smaller screens */
    }

    /* Adjust home image to take full width */
    img {
        width: 100%; /* Full width on smaller screens */
        max-width: 300px; /* Max width to prevent it from getting too large */
        margin: 2rem auto; /* Center the image with auto margins */
    }

    /* Adjust heading font sizes for better readability */
    h3 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4rem;
    }

    /* Adjust paragraph font size */
    p {
        font-size: 2rem;
        margin: 2rem 0;
    }

    /* Adjust the social media icons */
    .social-media a {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.6rem;
    }

    /* Adjust the download CV button */
    .btn {
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }
}

/* For very small screens (mobile devices) */
@media (max-width: 480px) {
    section {
        padding: 4rem;
        align-items: center;
    }

    h3 {
        font-size: 2rem;
        margin: 0 auto;
    }

    .heading {
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.4rem;
    }

    /* Reduce size of social icons even further for very small screens */
    .social-media a {
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;
    }

    /* Reduce button size */
    .btn {
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
    }

    .service-card {
        width: 100%;
    }
}

/* Responsive Design for larger screens */
@media (min-width: 768px) {
    .navbar {
        display: flex; /* Show navbar on larger screens */
        flex-direction: row; /* Horizontal layout for navbar links */
    }

    .service-card {
        width: 100%;
        font-size: 80%; /* Width of each card */
    }
}

@media (min-width: 1200px) {
    .service-card {
        width: 75%; /* Width of each card */
    }
}
